---
layout: layout.liquid
title: Lab6_Alpine.js
---

<h1><strong>Name Generator</strong></h1>

<div x-data="nameGenerator">
    <button @click="getRandomName()">Click to generate a name</button>
    <h1 class="name" x-text="selectedName"></h1>
    <hr></hr>
</div>
