body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #1e1e27;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    height: 100px;
    margin: 10%;
}

h1 strong {
    color: #353e4e;
    -webkit-text-stroke: 2px #ffffff;
}

hr {
    width: 500px;
}

button{
    background: #212431;
    color: #EAE8FF;
    border: 2px solid #EAE8FF;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #EAE8FF;
    color: #212431;
}

.name{
    margin: 5%;
}